*.log
*.a
*.so
*.swp
linux-amd64
kubectl

deployments/kubernetes/base/kustomization.yaml
cmd/go-reminders/go-reminders-darwin
cmd/go-reminders/go-reminders
build/docker/go-reminders
build/docker/html
