<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Reminders</title>
  <meta name="description" content="All Reminders">
  <meta name="author" content="Tom Hite, VMware, Inc.">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="/html/skeleton/css/normalize.css">
  <link rel="stylesheet" href="/html/skeleton/css/skeleton.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="/html/skeleton/images/favicon.png">

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
  <div class="row">
    <div class="nine columns">
      <h4>All Your Reminders</h4>
    </div>
    <div class="three columns">
      <form action="/html/tmpl/edit" method="post">
        <input type="hidden" name="guid" value="">
        <input class="button" type="submit" value="New Reminder">
      </form>
    </div>
  </div>

  <div class="row">
    <div class="one column">&nbsp;</div>
    <div class="ten columns">
      {{if .}}
      <table class="u-full-width">
        <thead>
          <th>Request URL</th>
          <th>Count</th>
        </thead>
        <tbody>
        {{range $k, $v := .}}
          <tr>
            <td><a href="{{$k}}">{{$k}}</a></td>
            <td>{{$v}}</td>
		  </tr>
        {{end}}
        </tbody>
      </table>
      {{else}}
      <center><h4>The service is not terribly busy &mdash; no hits yet!</h4></center>
      {{end}}
    </div>
    <div class="one column">&nbsp;</div>
  </div>
<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
